<footer id="colophon" class="site-footer has-footer-menu-1 has-footer-social-menu layout-row">
  <div class="footer-content-top container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="footer-brand-title">
          <div class="uwm-logo-small">
            <a href="https://uwm.edu/libraries/" title="UWM Libraries" rel="home">
              <span class="screen-reader-text">University of Wisconsin-Milwaukee</span>
            </a>
          </div>		

          <div class="title align-top">
            <span class="title-container">
              <a href="https://uwm.edu/libraries/" title="UWM Libraries" rel="home">
                <span class="title-large">UWM Libraries</span>
              </a>
            </span>
          </div>
        </div>

        <nav id="footer-nav" class="footer-navigation" aria-label="Footer">
          <div class="footer-menu-container">
            <div class="menu-footer-menu-container">
              <ul id="footer-menu-1" class="menu list-inline">
                <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29 list-inline-item">
                  <a href="https://uwm.edu/libraries/about/conditions/">Conditions of Use</a>
                </li>
                <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28 list-inline-item">
                  <a href="https://uwm.edu/libraries/about/privacy/">Privacy Information</a>
                </li>
                <li id="menu-item-59" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-59 list-inline-item">
                  <a href="https://uwmlibstatus.wordpress.com/">System Status</a>
                </li>
                <li id="menu-item-60" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-60 list-inline-item">
                  <a href="https://uwm.libanswers.com/">Ask a Librarian</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="col-sm text-sm-left text-md-right">
        <div class="contact-social-container">
          <nav id="footer-social-nav" class="footer-navigation" aria-label="Social media">
            <ul id="social-menu" class="social-icons list-inline">
              <li id="menu-item-30879" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30879 list-inline-item">
                <a href="https://twitter.com/uwmlibraries">
                  <span class="screen-reader-text">Twitter</span>
                  <svg aria-hidden="true" role="img" focusable="false" class="svg-icon" width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path fill="" d="M22.23,5.924c-0.736,0.326-1.527,0.547-2.357,0.646c0.847-0.508,1.498-1.312,1.804-2.27 c-0.793,0.47-1.671,0.812-2.606,0.996C18.324,4.498,17.257,4,16.077,4c-2.266,0-4.103,1.837-4.103,4.103 c0,0.322,0.036,0.635,0.106,0.935C8.67,8.867,5.647,7.234,3.623,4.751C3.27,5.357,3.067,6.062,3.067,6.814 c0,1.424,0.724,2.679,1.825,3.415c-0.673-0.021-1.305-0.206-1.859-0.513c0,0.017,0,0.034,0,0.052c0,1.988,1.414,3.647,3.292,4.023 c-0.344,0.094-0.707,0.144-1.081,0.144c-0.264,0-0.521-0.026-0.772-0.074c0.522,1.63,2.038,2.816,3.833,2.85 c-1.404,1.1-3.174,1.756-5.096,1.756c-0.331,0-0.658-0.019-0.979-0.057c1.816,1.164,3.973,1.843,6.29,1.843 c7.547,0,11.675-6.252,11.675-11.675c0-0.178-0.004-0.355-0.012-0.531C20.985,7.47,21.68,6.747,22.23,5.924z"></path>
                  </svg>
                </a>
              </li>
              <li id="menu-item-30878" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30878 list-inline-item">
                <a href="https://www.facebook.com/uwmlibraries">
                  <span class="screen-reader-text">Facebook</span>
                  <svg aria-hidden="true" role="img" focusable="false" class="svg-icon" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path fill="" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path>
                  </svg>
                </a>
              </li>
              <li id="menu-item-30881" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30881 list-inline-item">
                <a href="https://www.youtube.com/user/liblituwm">
                  <span class="screen-reader-text">YouTube</span>
                  <svg aria-hidden="true" role="img" focusable="false" class="svg-icon" width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path fill="" d="M21.8,8.001c0,0-0.195-1.378-0.795-1.985c-0.76-0.797-1.613-0.801-2.004-0.847c-2.799-0.202-6.997-0.202-6.997-0.202 h-0.009c0,0-4.198,0-6.997,0.202C4.608,5.216,3.756,5.22,2.995,6.016C2.395,6.623,2.2,8.001,2.2,8.001S2,9.62,2,11.238v1.517 c0,1.618,0.2,3.237,0.2,3.237s0.195,1.378,0.795,1.985c0.761,0.797,1.76,0.771,2.205,0.855c1.6,0.153,6.8,0.201,6.8,0.201 s4.203-0.006,7.001-0.209c0.391-0.047,1.243-0.051,2.004-0.847c0.6-0.607,0.795-1.985,0.795-1.985s0.2-1.618,0.2-3.237v-1.517 C22,9.62,21.8,8.001,21.8,8.001z M9.935,14.594l-0.001-5.62l5.404,2.82L9.935,14.594z"></path>
                  </svg>
                </a>
              </li>
              <li id="menu-item-30880" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30880 list-inline-item">
                <a href="https://www.instagram.com/uwmlibraries/">
                  <span class="screen-reader-text">Instagram</span>
                  <svg aria-hidden="true" role="img" focusable="false" class="svg-icon" width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path fill="" d="M12,4.622c2.403,0,2.688,0.009,3.637,0.052c0.877,0.04,1.354,0.187,1.671,0.31c0.42,0.163,0.72,0.358,1.035,0.673 c0.315,0.315,0.51,0.615,0.673,1.035c0.123,0.317,0.27,0.794,0.31,1.671c0.043,0.949,0.052,1.234,0.052,3.637 s-0.009,2.688-0.052,3.637c-0.04,0.877-0.187,1.354-0.31,1.671c-0.163,0.42-0.358,0.72-0.673,1.035 c-0.315,0.315-0.615,0.51-1.035,0.673c-0.317,0.123-0.794,0.27-1.671,0.31c-0.949,0.043-1.233,0.052-3.637,0.052 s-2.688-0.009-3.637-0.052c-0.877-0.04-1.354-0.187-1.671-0.31c-0.42-0.163-0.72-0.358-1.035-0.673 c-0.315-0.315-0.51-0.615-0.673-1.035c-0.123-0.317-0.27-0.794-0.31-1.671C4.631,14.688,4.622,14.403,4.622,12 s0.009-2.688,0.052-3.637c0.04-0.877,0.187-1.354,0.31-1.671c0.163-0.42,0.358-0.72,0.673-1.035 c0.315-0.315,0.615-0.51,1.035-0.673c0.317-0.123,0.794-0.27,1.671-0.31C9.312,4.631,9.597,4.622,12,4.622 M12,3 C9.556,3,9.249,3.01,8.289,3.054C7.331,3.098,6.677,3.25,6.105,3.472C5.513,3.702,5.011,4.01,4.511,4.511 c-0.5,0.5-0.808,1.002-1.038,1.594C3.25,6.677,3.098,7.331,3.054,8.289C3.01,9.249,3,9.556,3,12c0,2.444,0.01,2.751,0.054,3.711 c0.044,0.958,0.196,1.612,0.418,2.185c0.23,0.592,0.538,1.094,1.038,1.594c0.5,0.5,1.002,0.808,1.594,1.038 c0.572,0.222,1.227,0.375,2.185,0.418C9.249,20.99,9.556,21,12,21s2.751-0.01,3.711-0.054c0.958-0.044,1.612-0.196,2.185-0.418 c0.592-0.23,1.094-0.538,1.594-1.038c0.5-0.5,0.808-1.002,1.038-1.594c0.222-0.572,0.375-1.227,0.418-2.185 C20.99,14.751,21,14.444,21,12s-0.01-2.751-0.054-3.711c-0.044-0.958-0.196-1.612-0.418-2.185c-0.23-0.592-0.538-1.094-1.038-1.594 c-0.5-0.5-1.002-0.808-1.594-1.038c-0.572-0.222-1.227-0.375-2.185-0.418C14.751,3.01,14.444,3,12,3L12,3z M12,7.378 c-2.552,0-4.622,2.069-4.622,4.622S9.448,16.622,12,16.622s4.622-2.069,4.622-4.622S14.552,7.378,12,7.378z M12,15 c-1.657,0-3-1.343-3-3s1.343-3,3-3s3,1.343,3,3S13.657,15,12,15z M16.804,6.116c-0.596,0-1.08,0.484-1.08,1.08 s0.484,1.08,1.08,1.08c0.596,0,1.08-0.484,1.08-1.08S17.401,6.116,16.804,6.116z"></path>
                  </svg>
                </a>
              </li>
              <li id="menu-item-30911" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30911 list-inline-item">
                <a href="https://www.pinterest.com/uwm_libraries/">
                  <span class="screen-reader-text">Pinterest</span>
                  <svg aria-hidden="true" role="img" focusable="false" class="svg-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="link" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor" d="M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </nav>      
        </div>
      </div>
    </div>
  </div>

  <div class="footer-content-bottom container-fluid">
    <div class="row">
      <div class="col">
        <h2><a href="https://uwm.edu">University of Wisconsin-Milwaukee</a></h2>
        <div class="footer-copyright-links">
          <p>&copy; <%= Time.now.year %> Board of Regents of the University of Wisconsin System</p>
          <ul class="uwm-c-list--cleanlist list-inline">
            <li class="list-inline-item"><a href="https://uwm.edu/web-privacy-statement/">Web Privacy Statement</a></li>
            <li class="list-inline-item"><a href="https://uwm.edu/accessibility/">Accessibility</a></li>
            <li class="list-inline-item"><a href="https://uwm.edu/libraries/libraries-feedback/">Feedback</a></li>
        </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="scrolltotop">
    <a href="#page" role="button">
      <span class="screen-reader-text">Scroll to top</span>
      <svg aria-hidden="true" role="img" focusable="false" class="svg-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="000000" d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"></path>
      </svg>
    </a>
  </div>
</footer>	