.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: $uwm-gray-lightest;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

h4.card-header a {
  font-weight: 600; 
}

.card {
  border-radius: 0;
}

.facet-field-heading button {
  font-weight: 600; 
}