$white: #ffffff;
$black: #000000;

$uwm-gold: #ffbd00;
$uwm-gold-light: #ffd14c;
$uwm-black: #000000;
$uwm-black-light: #4c4c4c;
$uwm-black-lighter: #999999;
$uwm-black-lightest: #cccccc;
$uwm-gray-lighter: #d4d5d6;
$uwm-gray-lightest: #e9eaea;
$uwm-text: #404040;
$uwm-bg-gray-dark: #333333;
$uwm-bg-gray: #f5f5f5;
$uwm-bg-white: #ffffff;
$uwm-border: #e5e5e5;

$uwm-blue-accessible: #2B74B1;
$uwm-blue-light: #73aeda;