// Local UWM Modules
@import 'modules/colors';
@import 'modules/accordions';
@import 'modules/cards';
@import 'modules/code';
@import 'modules/footer';
@import 'modules/geosearch';
@import 'modules/homepage';
@import 'modules/navbar';
@import 'modules/scrolltotop';
@import 'modules/type';

// Button primary
.btn-primary {
  @include button-variant($uwm-gold, darken($uwm-gold, 7.5%), darken($uwm-gold, 10%), lighten($uwm-gold, 5%), lighten($uwm-gold, 10%), darken($uwm-gold,30%));
  color: $uwm-text;
}

.btn-primary:hover {
  background: #ffd14c;
  border-color: #ffd14c;
  text-decoration: none;
  color: #404040;
}

.screen-reader-text {
  @include sr-only;
}

.form-control {
  border-radius: 0 !important;
}

.btn {
  border-radius: 0 !important;
  font-weight: 600;
}

.page-link:hover {
  text-decoration: underline;
}

// Search results
#documents {
  .index_title {
    font-size: 1rem;
  }

  .status-icons {
    display: inline-block;

    span {
      min-width: 0px;
    }
  }

  .thumbnail {
    height: 100px;
    width: 100px;
    margin-left:auto;
    margin-right: auto;
    img {
      width: inherit;
    }
  }

  .icon .blacklight-icons {
    height: 4.5rem;
    width: 4.5rem;

    svg {
      height:95%;
      width:95%;
    }
  }
}

